@import url(juxtapose.css);
/* line 6, /Users/ap/code/labs/interactives/now_and_then/src/sass/app.sass */
body {
  padding: 0;
  margin: 0; }

/* line 11, /Users/ap/code/labs/interactives/now_and_then/src/sass/app.sass */
.jx-knightlab {
  display: none !important; }

div.jx-arrow.jx-left {
  border-color: transparent #fff transparent transparent;
}

div.jx-controller {
  display: none;
}
.jx-control {
  opacity: 0.5;
}
