<p>
  {{description}}
</p>
<ul>
  {{#each tools}}
    <li>{{this}}</li>
  {{/each}}
</ul>
<<<<<<< HEAD
<img src="images/gulp.png" alt="" />
=======
<img src="/images/gulp.png" alt="" />
>>>>>>> Initial commit of a new project
